doctype html
html
  head
    title base65536-saver
  body
    form#main-form
      input#file-picker(type='file' multiple)
      br
      textarea#compressed-text
      br
      label
        input#use-base64(type='checkbox')
        | Use Base64 (less compressed / more text)
      br
      button#file-to-text Convert file to text
      br
      button#text-to-file Convert text to file
    script(src='js/base65536.min.js')
    script(src='js/buffer.min.js')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='js/script.js?_=2')
